.login-container {
  background: #ffffff;
  padding: 1px 1px;
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
}
.login-close {
  text-align: left;
}
.login-header {
  display: flex;
}
.login-header h2 {
  width: 100%;
  font-size: 14px;
  color: #cbd0b5;
}
.login-header svg {
  z-index: 100;
}
.login-form > form > div {
  margin: 10px 0px;
}

.login-submit {
  padding: 3px;
  font-size: 10px;
}
.login-submit button {
  padding: 5px 20px;

  font-size: 10px;
}
