@import "../../../styles.scss";
.main-container {
  height: 100vh;
  background: url("../../../assets//MainPageImage.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  font-family: "Roboto slab";
  padding-top: 20px;
  color: #2874b7;
}
.main-register {
  width: 90%;
  margin: 0 auto;
}
.main-body {
  display: flex;
  justify-content: center;
}
.main-body button {
  min-width: 100px;
  margin: 5px;
}
