.register-title {
  background: #1c1a18;
  display: flex;
  margin: 0 auto;
  border-bottom: 0.3px solid #d9d9d8;
  padding: 10px 0;
  color: white;
}
.register-title h2 {
  width: 95%;
  color: #3d93df;
}
.register-form {
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px 40px;
}
.registerSubmit {
  grid-column: 1/3;
}
