.text-input-container {
}
.text-input-header {
  color: red;
}
.text-input {
}
.invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
.invalid:focus {
  border: 1px solid red;
  background-color: #fda49a;
}
